<div class="w-full max-w-2xl grid grid-cols-1 lg:grid-cols-2 gap-4 my-8 px-4 lg:mx-0">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <a href="{{item.url}}" target="_blank" class="p-5 border rounded border-gray-200 hover:border-purple-400">
                <h3>{{item.title}}
                    →</h3>
                <p>{{item.desc}}</p>
            </a>
        {% endfor %}

    {% endif %}

</div>

<div class="flex justify-center items-center w-full max-w-2xl gap-4 my-8 px-4 lg:mx-0">
    <div
      class="
        bg-white
        shadow-md
        h-96
        rounded-3xl
        flex flex-col
        justify-around
        items-center
        overflow-hidden
        sm:flex-row sm:h-52
      "
    >
      <img
        class="h-1/2 w-full sm:h-full sm:w-1/2 object-cover"
        src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"
        alt="image"
      />

      <div
        class="
          flex-1
          w-full
          flex flex-col
          items-baseline
          justify-around
          h-1/2
          pl-6
          sm:h-full sm:items-baseline sm:w-1/2
        "
      >
        <div class="flex flex-col justify-start items-baseline">
          <h1 class="text-2xl font-normal mb-0 text-gray-600 font-sans">
            Gaming
          </h1>
        </div>
        <p class="text-lg text-gray-500 w-4/5">
            Razgledajte ponudu sustava posebno prilagođenih za vaše gaming potrebe. 
        </p>
        <div class="w-full flex justify-between items-center">
          <button
            class="bg-gray-700 mr-5 text-white px-3 py-1 rounded-sm shadow-md"
          >
            Odaberi
          </button>
        </div>
    </div>
    <div
      class="
        bg-white
        shadow-md
        h-96
        rounded-3xl
        flex flex-col
        justify-around
        items-center
        overflow-hidden
        sm:flex-row sm:h-52
      "
    >
      <img
        class="h-1/2 w-full sm:h-full sm:w-1/2 object-cover"
        src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"
        alt="image"
      />

      <div
        class="
          flex-1
          w-full
          flex flex-col
          items-baseline
          justify-around
          h-1/2
          pl-6
          sm:h-full sm:items-baseline sm:w-1/2
        "
      >
        <div class="flex flex-col justify-start items-baseline">
          <h1 class="text-2xl font-normal mb-0 text-gray-600 font-sans">
            Ured
          </h1>
        </div>
        <p class="text-lg text-gray-500 w-4/5">
            Razgledajte ponudu sustava posebno prilagođenih za vaše gaming potrebe. 
        </p>
        <div class="w-full flex justify-between items-center">
          <button
            class="bg-gray-700 mr-5 text-white px-3 py-1 rounded-sm shadow-md"
          >
            Odaberi
          </button>
        </div>
    </div>
    <div
      class="
        bg-white
        shadow-md
        h-96
        rounded-3xl
        flex flex-col
        justify-around
        items-center
        overflow-hidden
        sm:flex-row sm:h-52
      "
    >
      <img
        class="h-1/2 w-full sm:h-full sm:w-1/2 object-cover"
        src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"
        alt="image"
      />

      <div
        class="
          flex-1
          w-full
          flex flex-col
          items-baseline
          justify-around
          h-1/2
          pl-6
          sm:h-full sm:items-baseline sm:w-1/2
        "
      >
        <div class="flex flex-col justify-start items-baseline">
          <h1 class="text-2xl font-normal mb-0 text-gray-600 font-sans">
            Kuća
          </h1>
        </div>
        <p class="text-lg text-gray-500 w-4/5">
            Razgledajte ponudu sustava posebno prilagođenih za vaše gaming potrebe. 
        </p>
        <div class="w-full flex justify-between items-center">
          <button
            class="bg-gray-700 mr-5 text-white px-3 py-1 rounded-sm shadow-md"
          >
            Odaberi
          </button>
        </div>
    </div>
    <div
      class="
        bg-white
        shadow-md
        h-96
        rounded-3xl
        flex flex-col
        justify-around
        items-center
        overflow-hidden
        sm:flex-row sm:h-52
      "
    >
      <img
        class="h-1/2 w-full sm:h-full sm:w-1/2 object-cover"
        src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"
        alt="image"
      />

      <div
        class="
          flex-1
          w-full
          flex flex-col
          items-baseline
          justify-around
          h-1/2
          pl-6
          sm:h-full sm:items-baseline sm:w-1/2
        "
      >
        <div class="flex flex-col justify-start items-baseline">
          <h1 class="text-2xl font-normal mb-0 text-gray-600 font-sans">
            Hobi
          </h1>
        </div>
        <p class="text-lg text-gray-500 w-4/5">
            Razgledajte ponudu sustava posebno prilagođenih za vaše gaming potrebe. 
        </p>
        <div class="w-full flex justify-between items-center">
          <button
            class="bg-gray-700 mr-5 text-white px-3 py-1 rounded-sm shadow-md"
          >
            Odaberi
          </button>
        </div>
    </div>
    <div
      class="
        bg-white
        shadow-md
        h-96
        rounded-3xl
        flex flex-col
        justify-around
        items-center
        overflow-hidden
        sm:flex-row sm:h-52
      "
    >
      <img
        class="h-1/2 w-full sm:h-full sm:w-1/2 object-cover"
        src="https://images.unsplash.com/photo-1484101403633-562f891dc89a?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1053&q=80"
        alt="image"
      />

      <div
        class="
          flex-1
          w-full
          flex flex-col
          items-baseline
          justify-around
          h-1/2
          pl-6
          sm:h-full sm:items-baseline sm:w-1/2
        "
      >
        <div class="flex flex-col justify-start items-baseline">
          <h1 class="text-2xl font-normal mb-0 text-gray-600 font-sans">
            Server
          </h1>
        </div>
        <p class="text-lg text-gray-500 w-4/5">
            Razgledajte ponudu sustava posebno prilagođenih za vaše gaming potrebe. 
        </p>
        <div class="w-full flex justify-between items-center">
          <button
            class="bg-gray-700 mr-5 text-white px-3 py-1 rounded-sm shadow-md"
          >
            Odaberi
          </button>
        </div>
    </div>
</div>
